body {
    background-color: #99FFFF;	
        color: black;
    text-align: center;
}

.body {
    color: black;
    text-align: center;
}

.titile {
    color: black;
    text-align: center;
}

.back {
  text-align: center;
  display: block;
}



.hozo{
      text-align: center;
  display: block;
}